*/ {
  box-sizing: border-box;
  background-color: aliceblue;
}

.grid {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 2fr;
  width: 1024px;
  margin: 4rem;
  border: 1px;
  background-color: antiquewhite;
  padding: 2.5rem;
  align-content: center;
  justify-content: space-between;
}

header {
  background-color: teal;
  color: white;
  font-family: cursive;
  font-size: 2rem;
  padding: 1.8rem;
  text-align: center;
}

section {
  background-color: antiquewhite;
  width: 75%;
  margin: 2rem auto;
  padding: 5rem;
  justify-content: space-between;
}

#image1 {
  width: 250px;
  height: 300px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 1rem;
}

#image2 {
  width: 250px;
  height: 300px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 1rem;
}

#image3 {
  width: 250px;
  height: 300px;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#resultsButton {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 4rem;
}

#myChart {
  margin-top: 2rem;
}

footer {
  background-color: teal;
  color: white;
  font-family: cursive;
  font-size: 1.2rem;
  padding: 2rem;
  text-align: end;
}

.clicks-not-allowed img:hover {
  border: 5px solid black;
  cursor: not-allowed;
}
